#contenedor{
    margin: 20px auto;
    width: 50%;
    border: 1px solid black;
    font-family: "SF Pro Display";
    background-color: #fafafc;
}

#header_content{
    display: flex;
    justify-content: center;
}

svg{
    margin: 0 20px;
    align-items: center;
}

.icon{
    fill: #bbb;
}

#contenido_prin{
    height: 280px;
    background-repeat: no-repeat;
    background-image: url(img/ipad_fondo.jpg);
    background-position: top;
    background-size: 1500px;
}
#contenido_prin h2{
    color: #f5f5f7;
    font-size: 30px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    margin: 0;
    padding-top: 20px;
    font-family: "SF Pro Display";
}

#contenido_prin P{
    font-size: 20px;
    color: #f5f5f7;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: "SF Pro Display";
    margin: 10px 0;
}
#promo1{
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-image: url(img/iphone_fondo.jpg);
    background-position: center;
    background-size: 700px;
}

#promo1 h2{
    font-size: 30px;
    margin: 0;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    padding-top: 10px;
    font-family: "SF Pro Display";
}
#promo1 p{
    font-size: 15px;
    color: black;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: "SF Pro Display";
    margin: 10px 0;
}


#promo2{
    color: #f5f5f7;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-image: url(img/applewatch_fondo.jpg);
    background-position: top;
    background-size: 700px;
}

#promo2 h2{
    background-image: url(img/logo_watch9.png);
    background-repeat: no-repeat;
    height: 53px;
    background-position: center;
    background-size: 138px 53px;
    margin: 0;
    margin-top: 5px;
}

#promo2 p{
    font-size: 15px;
    color: #f5f5f7;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: "SF Pro Display";
    margin: 6px 0;
}

#contenido_secu{
    display: flex;
    margin:3.5px;
}

#newiPhone{
    color: #f5f5f7;
    width: 100%;
    height: 245px;
    background-repeat: no-repeat;
    background-image: url(img/iphone15pro_fondo.jpg);
    background-position: top;
    background-size: 1400px;

}


#newiPhone h2{
    color: #f5f5f7;
    font-size: 30px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    margin: 0;
    padding-top: 10px;
    font-family: "SF Pro Display";
}

#newiPhone P{
    font-size: 20px;
    color: #f5f5f7;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: "SF Pro Display";
    margin: 7px 0;
}

#contenido_fin{
    margin: 3.5px;
}

#pie{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px;
    padding: 5px; 
    border-radius: 10px; 
    text-align: center; 
}

#pie h3 {
    box-sizing: 300px;
    font-size: 13px;
    margin: 0;
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    padding: 5px; 
    border-radius: 5px;
    width: 100%;
}

#pie figure {
    justify-content: space-between; 
    align-items: center;
    margin: 0; 
    display: flex;
    gap: 10px;
}

#pie h3.copy {
    padding: 10px;
    width: 60%; /* Ancho específico para el primer h3 */
}

#pie h3.poli {
    width: 60%; /* Ancho específico para el segundo h3 */
}